.recent-post {
  padding-top: 0.2in;
  padding-bottom: 0.1in;
  padding-left: 0.3in;
  display: flex;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  background-color: black;
  grid-column: start / end;
}

.time-for-article {
  padding: 0in 0.4in;
  display: flex;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  background-color: black;
}

article {
  padding: 0.5in 0;
  display: grid;
  grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
  background-color: black;
}

article * {
  grid-column: start / end;
}

.extra-space {
  margin-bottom: 1em;
}

@media (max-width: 8.5in) {
  article {
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
  }
  .recent-post {
    grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
  }
}
